
  @keyframes easeIn {
    from {
      opacity: 0.2;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  h1 {
    font-size: 140px;
    color: #b0ffac;
    text-align: center;
    margin-top: 150px;
    animation: easeIn 1s;
  }
  
  p {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    animation: easeIn 1s;
  }
    
  .button {
    display: inline-block;
    padding: 8px 20px;
    border: none;
    background-color: transparent;
    color: #6eafff;
    text-decoration: none;
    font-size: 30px;
    font-style: normal;
    transition: 0.2s;
  }
  
  .button:hover {
    color: #c4dfff;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: easeIn 1s;
  }
  
  .container a {
    margin-bottom: 10px;
    margin-left: 100px;
  }
  